@model ProformaApplication.ViewModel.LoginViewModel

@{
    ViewBag.Title = "ShowUserDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowUserDetail</h2>

<fieldset>
    <legend>LoginViewModel</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">RememberMe</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RememberMe)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
